<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="eclipse.vodsl.target" sequenceNumber="2">
<locations>
<!--
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="de.fxdiagram.eclipse.examples.feature.feature.group" version="0.36.1.201709062056"/>
		<unit id="de.fxdiagram.sdk.feature.feature.group" version="0.36.1.201709062056"/>
		<unit id="de.fxdiagram.sdk.feature.source.feature.group" version="0.36.1.201709062056"/>
		<unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="2.4.0.201605112122"/>
		<unit id="org.eclipse.xtext.example.domainmodel" version="2.12.0.201709061840"/>
		<unit id="org.eclipse.xtext.example.domainmodel.ui" version="2.12.0.201709061840"/>
		<unit id="org.eclipse.xtext.example.fowlerdsl" version="2.12.0.201709061854"/>
		<unit id="org.eclipse.xtext.example.fowlerdsl.ui" version="2.12.0.201709061854"/>
		<repository location="http://dl.bintray.com/jankoehnlein/FXDiagram"/>
	</location>
-->
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/releases/2020-06"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.22.0.v20200602-1533"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://rtsys.informatik.uni-kiel.de/~kieler/updatesite/release_pragmatics_2015-02"/>
	</location>
	<!-- this is a hack for a local build -->
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://emcc.ast.man.ac.uk/doc/eclipse/fxdiagram"/>
		<unit id="de.fxdiagram.base.feature.feature.group" version="0.36.1.202106281643"/>
		<unit id="de.fxdiagram.sdk.feature.feature.group" version="0.36.1.202106281643"/>
		<unit id="org.eclipse.xtext.runtime.feature.group" version="2.22.0.v20200602-1533"/>
		<unit id="org.eclipse.xtext.ui.feature.group" version="2.22.0.v20200602-1533"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/efxclipse/updates-released/3.6.0/site"/>
		<unit id="org.eclipse.fx.ide.basic.feature.feature.group" version="3.5.0.201907240300"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/eclipse/updates/4.16"/>
		<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.800.v20200602-1138"/>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
	<includeBundles>
		<feature id="de.fxdiagram.base.feature"/>
		<feature id="de.fxdiagram.sdk.feature"/>
		<feature id="org.eclipse.ecf.core.feature"/>
		<feature id="org.eclipse.ecf.core.feature.source"/>
		<feature id="org.eclipse.ecf.core.ssl.feature"/>
		<feature id="org.eclipse.ecf.core.ssl.feature.source"/>
		<feature id="org.eclipse.ecf.filetransfer.feature"/>
		<feature id="org.eclipse.ecf.filetransfer.feature.source"/>
		<feature id="org.eclipse.ecf.filetransfer.httpclient45.feature"/>
		<feature id="org.eclipse.ecf.filetransfer.httpclient45.feature.source"/>
		<feature id="org.eclipse.ecf.filetransfer.ssl.feature"/>
		<feature id="org.eclipse.ecf.filetransfer.ssl.feature.source"/>
		<feature id="org.eclipse.emf.mwe2.language.sdk"/>
		<feature id="org.eclipse.emf.mwe2.launcher"/>
		<feature id="org.eclipse.emf.mwe2.launcher.source"/>
		<feature id="org.eclipse.emf.mwe2.runtime.sdk"/>
		<feature id="org.eclipse.equinox.p2.core.feature"/>
		<feature id="org.eclipse.equinox.p2.discovery.feature"/>
		<feature id="org.eclipse.equinox.p2.sdk"/>
		<feature id="org.eclipse.fx.ide.basic.feature"/>
		<feature id="org.eclipse.fx.runtime.min.feature"/>
		<feature id="org.eclipse.xtend.sdk"/>
		<feature id="org.eclipse.xtext.docs"/>
		<feature id="org.eclipse.xtext.examples"/>
		<feature id="org.eclipse.xtext.redist"/>
		<feature id="org.eclipse.xtext.runtime"/>
		<feature id="org.eclipse.xtext.sdk"/>
		<feature id="org.eclipse.xtext.ui"/>
		<feature id="org.eclipse.xtext.xbase"/>
		<feature id="org.eclipse.xtext.xbase.lib"/>
		<feature id="org.eclipse.xtext.xtext.ui"/>
		<feature id="org.eclipse.xtext.xtext.ui.graph"/>
	</includeBundles>
</target>